<body >
<div class="main">
    <div class="submain">

        <h1>I'm looking for...</h1>
        <mat-form-field>
            <input matInput class="style" type="text" placeholder="Enter the keywords" >
            </mat-form-field>
            <button mat-raised-button style="margin-left: 50px;" color="primary">Search</button>

            <section class="example-section">
                <mat-checkbox class="example-margin"><P style="color: white;">Full time</P></mat-checkbox>
                <mat-checkbox class="example-margin"><p style="color: white;">part time / intership</p></mat-checkbox>
              </section>

    </div>
    </div>
    <div class="reg">
        <button mat-raised-button routerLink="../registration" color="accent">Register</button>
    </div>

</body>